[submodule "auth/auth-frontend"]
	path = auth/auth-frontend
	url = https://github.com/kun99-p2/auth-frontend
[submodule "auth/auth-backend"]
	path = auth/auth-backend
	url = https://github.com/kun99-p2/auth-backend
[submodule "core/videos-frontend"]
	path = core/videos-frontend
	url = https://github.com/kun99-p2/videos-frontend
[submodule "video/play-video-frontend"]
	path = video/play-video-frontend
	url = https://github.com/kun99-p2/play-video-frontend
[submodule "core/video-backend"]
	path = core/video-backend
	url = https://github.com/kun99-p2/video-backend
[submodule "workers/thumbnail_extractor"]
	path = workers/thumbnail_extractor
	url = https://github.com/kun99-p2/thumbnail_extractor
[submodule "workers/video_processing"]
	path = workers/video_processing
	url = https://github.com/kun99-p2/video_processing
[submodule "workers/chunker"]
	path = workers/chunker
	url = https://github.com/kun99-p2/chunker
