apiVersion: apps/v1
kind: Deployment
metadata:
  name: chunker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chunker
  template:
    metadata:
      labels:
        app: chunker
    spec:
      containers:
      - name: chunker
        image: ghcr.io/kun99-p2/chunker/toktik-chunker:latest
        ports:
        - containerPort: 6379
        env:
        - name: REDIS_HOST
          value: "redis-service"
        - name: REDIS_PORT
          value: "6379"
        - name: QUEUE_NAME
          value: "q" 
      imagePullSecrets:
      - name: ghcr-secret